div {
    width: 100px; height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

/* static position의 중간 div box */
#static #middle {
    background-color: #81b29a;
    position: static;
    top: 100px;
} /* 변화 없음*/


#relative #middle {
    background-color: #7ed216;
    position: relative; /*여기까지는 변화 없음*/
    top: -30px; /* offset 부여*/
    /* top: -100px; 도 가능*/
}

#absolute {
    position: relative;
}

#absolute #middle {
    background-color: aqua;
    position: absolute;
    left: 500px;
}

#fixed #middle {
    background-color: rgb(255, 143, 7);
    position: fixed;
    top: 100px; left: 600px;
}